h1 {
    text-align: center;
}

#mainSvgHolder, #countrySvgHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-direction: column;
}

#global-warming-graph, #country-warming-graph {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:10px;
}

#countrySvgHolder {
    display: none;
}

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 90px; height: 90px;
    background-color: #eed;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:5px;
    z-index: 100;
}
  
.slider p {
    font-size: 26px;
    font-weight: 600;
    font-family: Open Sans;
    padding-left: 30px;
    color: black;
}
.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {background: black;} 
   